#game{
    height: 400px;
    width: 480px;
    background-color: goldenrod;
    margin: 50px;
    border-radius: 10px;
    position: relative;
}
#input{
    margin: 200px 140px;
    width: 200px;
    height: 30px;
    font-weight: bolder;
    
}
#submit{
    margin: -225px 360px;
    position: absolute;
}
#textHelper{
    position: absolute;
    margin: -350px 170px;
    text-align: center;
}